<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDIhRgDgdC-lB8B42U7TQw3PJN3BxBaNaY</string>
	<key>GCM_SENDER_ID</key>
	<string>109650028736</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sushiApp</string>
	<key>PROJECT_ID</key>
	<string>tests-sushi-s-app</string>
	<key>STORAGE_BUCKET</key>
	<string>tests-sushi-s-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:109650028736:ios:459b1e1b0d8b2b0bcc6525</string>
</dict>
</plist>